{
    "presets": ["latest", "react"],
    "plugins": [
        "transform-runtime",
        "add-module-exports",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-react-display-name"
    ]
}
